<table>
	<tr>
		<td>
			<p>
				<strong>Name:</strong>
			</p>
		</td>
		<td>
			<p><%= @employee.name %>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				<strong>Designation:</strong>
			</p>
		</td>
		<td>
			<p><%= @employee.designation %>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				<strong>Salary:</strong>
			</p>
		</td>
		<td>
			<p><%= @employee.salary %>
			</p>
		</td>
	</tr>
</table>