table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: #DBE0E6
}

th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  background-color: #9FACBC
}
td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

